#checa mod_rewrite, default activado funciona con ""-
<IfModule mod_rewrite.c>

    #deshabilita mod_rewrite
    Options -Multiviews    

    #enciende el motor Rewrite, sobreescribe url no funciona con localhost
    RewriteEngine On    
    RewriteBase /FrameworkMVC/public

    #estos dos funcionan si un archivo no existe o no es encontrado, redirecciona a index.php y adiciona un parametro por GET
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f    
    RewriteRule ^(.+)$ /index.php?url=$1 [QSA,L]
</IfModule>